* {
  font-family: sans-serif;
  max-width: 1000px;
}
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
span.title_small {
  font-size: 50%;
}
div.cve {
  display: flex;
  border-style: solid; 
  border-width: 1px; 
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 1000px;
  cursor: grab;
}
div.cve_header {
  display: flex;
  background-color: lightgrey;
  vertical-align: middle;
  width: 7%;
}
div.cve_header_arrows {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  margin-left: 5px;
}
div.cve_header_letter {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  font-size: 200%;
  margin-left: 5px;
  margin-right: 5px;
}
div.cve_desc {
  background-color: white;
}
p.cve_desc {
  margin: 5px;
}
div.cve_score {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 200%;
  visibility: hidden;
  height: 100%;
}
div#button_and_result {
  display: flex;
}
form#button {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  margin-right: 5px;
}
div#result {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  float:right;
 /* visibility: hidden;*/
}
